@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #010001;
    --second-color: #17a3b8;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff ;
    background-color: var(--primary-color);
}

/*NAVBAR*/
.navbar {
    height: 10vh;
    padding: 0 8%;
    background-color: transparent !important;
}

.navbar__logo {
    outline: 1px solid black;
    height: 6vh;
}


.collapse {
    display: flex;
    justify-content: right;
    align-items: center;
}

/*HEADER*/
.header, .carousel-item{
    height: 100vh;

}

.header__img {
    object-fit: cover;
    object-position: center;
}

.carousel, .header {
    position: static;
}

/*QUIENESSOMOS*/
.quienes {
   
}